.Business-complaints-order-status{
    width: 86%;
    /* height: 50vh; */
    background-color: #F0F8FF;
    margin-top: -20%;
    border-radius: 10px;
    padding: 1%;
    
}
.Business-complaints-order-nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 4vh;
    margin-top: 5%;
    
}
.add-buyer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    
}
.add-buyer div{
    cursor: pointer;
    width: 70%;
    height: 6vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.pic{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.add-buyer div label{
    font-weight: bold;
}
.row1{
    display: flex;
    flex-direction:column;
    padding: 4%;
}
.row1 div{
    display: flex;
    /* flex-direction: row; */
}
.buyer-row{
    display: flex;
    justify-content: space-between;
}
.customer-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.customer-details{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    

    
}
.customer-joined{
    margin-top: 4%;
}
.customer-location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.customer-joined label{
    color: red;
}
.customer-purchased label{
    color: grey;
    margin-top: 3%;
}
.customer-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
}
.customer-buttons button{
    margin-top: 4%;
    background-color: white;
    border-color: white;
    border-style: solid;
    border-radius: 6px;
    height: 4vh;
    
}

/* manage customers */

.business-row{
    display: flex;
    flex-direction: column;
    padding: 2%;
}
.business-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 6%;
}
.business-location{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
.business-summary{
    display: flex;
    flex-direction: column;
    padding-left: 12%;
    justify-content: center;
    align-items: flex-start;
}
.business-summary label{
    margin-top: 8%;
    color: grey;
}
.business-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    width: 5%;
    padding-left: 4%;
}
.business-buttons button{
    margin-top: 4%;
    background-color: white;
    border-color: white;
    border-style: solid;
    border-radius: 6px;
    height: 4vh;
    
    
}
.business-buttons button :hover{
    cursor: pointer;
}
.business-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.business-joined{
    margin-top: 3%;

}
.business-joined label{
    color: red;
}
.customer-profile-pic{
    width: 100px;
}