.Business-complaints-order-status{
    width: 82%;
    background-color: #F0F8FF;
    margin-top: -20%;
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 5%;
    
}
.Business-complaints-order-nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 4vh;
    margin-top: 5%;
    
}
.add-buyer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    
}
.add-buyer div{
    cursor: pointer;
    width: 86%;
    height: 8vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
    
}
.add-buyer div label{
    font-weight: bold;
}
.row1{
    display: flex;
    flex-direction:column;
    padding: 4%;
}
/*.row1 div{
    display: flex;
    
}*/
.buyer-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.buyer-row-colomn{
    display: flex;
    flex-direction:column;
    

}
.customer-img{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    
}
.customer-details{
    display: flex;
    flex-direction:column;
    justify-content: center;
    /*align-items: center;*/
    margin-left: 7%;
    

    
}
.customer-joined{
    margin-top: 4%;
}
/*.customer-location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}*/
.customer-joined label{
    color: red;
}
.customer-purchased label{
    color: grey;
    margin-top: 3%;
}
.customer-buttons{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
}
.customer-buttons button{
    margin-top: 4%;
    background-color: white;
    border-color: white;
    border-style: solid;
    border-radius: 6px;
    height: 4vh;
    
}

.add-complain-btn {
    
    width: 86%;
    height: 8vh;
    font-size: 1.2rem;
    background-color: white;
    color: #23483C;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    
}

.add-complain-btn:hover {
    background-color: #F0F0F0;
}

.add-buyer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    
}