@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {

    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

body {
    margin: 0;
}


.main-div {

    width: 100%;
    height: 100vh; 
}

.sub-div-1 {
    display: flex;
    flex-direction: row;

}

.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 4;
    background-color: white;

}

.summary {
    width: 100%;
    height: 60vh;
    background-color: #1B4332;
}

/*add product button*/

.add-product {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}

.add-product-button {
    width: 90%;
    height: 8vh;
    font-size: 20px;
    background-color: white;
    color: #23483C;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.add-product-button:hover {
    background-color: #ffd7b4;
}


/*for section with table*/ 

.main-box{
    width: 86%;
    /* height: 50vh; */
    background-color: #F0F8FF;
    margin-top: -19%;
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 5%;
    
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search-and-filter{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.search{
    border-radius: 5px;
    border: 2px solid #2ecc71;
    padding-left:5%;
    width: 250px; /* Increase width */
    height: 5vh;
    background-color: white;
    margin-left: 20px;
  }
  

.search-and-filter select{
    border-radius: 5px;
    border: 2px solid #2ecc71;
    padding-left:5%;
    width: 200px; /* Increase width */
    height: 5.7vh;
    background-color: white;
    margin-left: 20px;
}

/*product table*/

.main-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 3%;
    margin-bottom: 4%;
  }
  
.main-table thead tr {
    /* background-color: #f8f8f8; */
    text-align: center;
    
}
  
.main-table th, .main-table td {
    padding: 12px 20px;
    font-size: medium;
    color: #333;
}
  
.main-table th {
    color: #7e8a91;
    font-weight: 600;
}
  
.main-table tbody tr {
    border-bottom: 1px solid #e0e0e0;
    background-color: white;
    text-align: center;
}

.main-table tbody tr:hover {
    background-color:#b6efc4; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.product-wrap {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.product-name{
    font-size: 16px;
    margin-left: 20px;
}

.product-wrap img {
    width: 40px;
    height: 40px;
    border-radius: 20%;
}

.main-table button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.editbutton{
    background-color: #1B4332;
}

.deletebutton{
    background-color: #FD5D34;
}

.inline{
    display: flex;
    flex-direction: row;
    gap: 15px;
}


/* Styles for Popup of deletion  */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background: white;
    width: 300px;
    margin: 15% auto;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-buttons {
    margin-top: 20px;
}

.modal-button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

.modal-button.confirm {
    background:#fc5d35;
    color: white;
}

.modal-button.cancel {
    background: #1a4331;
    color: white;
}

.modal-button:hover {
    opacity: 0.9;
}


/* pagination */

.pagination{
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

.pagination img{
  height: 30px;
  width: 30px;
  margin: 0px 10px;
  cursor: pointer;
}


                

  

